{% extends 'base.html' %}
{% block content %}
<h1 class="h3 mb-4 text-gray-800">Admin Page</h1>

<div class="table-responsive">
    <h1>Users</h1>

    <table class="table">
        <tr>
            <th> #</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for user in all_users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td class="text-break">{{ user.password_hash }}</td>
            <td><a class="btn btn-warning" href="{{ url_for('user_detail', id=user.id)}}">Edit</a></td>
            <td><a class="btn btn-danger" href="{{ url_for('delete_user', id=user.id)}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}